<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <h3 class="text-center">ABOUT</h3>
    <hr>
    
    <p>
     W.O.L.F SOCIAL is still under development  and we are currently looking for more developers 
      to join and help us on this project ...
      this is a place that you dont have to worry about people spying on you for example facebook or minds
      we hope that you will enjoy W.O.L.F SOCIAL ..
    
    </p>
  </div>
</div>
